In [1]:
from urllib.request import urlopen as uReq
from bs4 import BeautifulSoup as soup
import pandas as pd
#importing stuff

In [2]:
def read_html(my_url):
    try:
        #reading the page html
        uClient = uReq(my_url)
        page_html = uClient.read()
        uClient.close
        #returns the page_html that's used for the html_reader function
        return page_html
    except Exception as e:
        #if the html is not valid, goes to this step
        print(e)
        print(my_url)
        return ''

In [3]:
def html_reader(page_html):
    #returns the CEO Pay, median employee pay, and CEO to employee pay ratio of a company from an html
    try:
        page_soup = soup(page_html, 'html.parser')
        containers = page_soup.findAll("table",{"class":"table sa-table tablesaw-stack table-executive"})
        #finds all tables on the website (the CEO pay, median employee pay, and CEO to employee pay ratio are on a table)
        container = containers[2]
        #the container on the second index has the values we nee
        values = container.find_all("tbody")[0]
        #turn the table into readable text
        new_list = []
        for x in str(values.get_text()).split("\n"):
            if x != '':
                new_list.append(x)
        return new_list
        #run a for loop to remove all empty lists
        #This new list has CEO name on index 0, CEO pay on 2, Median employee pay on 4, and pay ratio on 6
    except Exception as e:
        #if the page_html is not valid, goes to this step
        print(e)
        print('html_reader error for' + my_url)    
        return ''

In [4]:
#Testing if the html_reader and read_html functions work
html_reader(read_html('https://www1.salary.com/APPLE-INC-Executive-Salaries.html'))
#We want the values on index 2, 4, and 6

['Tim Cook',
 'CEO Pay',
 '$98,734,394',
 'Median Employee Pay',
 '$68,254',
 'CEO Pay Ratio',
 '1447:1']

In [5]:
df = pd.read_excel (r'C:s&p500_companies_names_final.xlsx')
df

                        Company Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
0                         3m-co        NaN        NaN        NaN        NaN
1           abbott-laboratories        NaN        NaN        NaN        NaN
2                    abbvie-inc        NaN        NaN        NaN        NaN
3                   abiomed-inc        NaN        NaN        NaN        NaN
4                 accenture-plc        NaN        NaN        NaN        NaN
..                          ...        ...        ...        ...        ...
496              yum-brands-inc        NaN        NaN        NaN        NaN
497  zebra-technologies-cp-cl-a        NaN        NaN        NaN        NaN
498  zimmer-biomet-holdings-inc        NaN        NaN        NaN        NaN
499     zions-bancorporation-na        NaN        NaN        NaN        NaN
500                  zoetis-inc        NaN        NaN        NaN        NaN

[501 rows x 5 columns]

In [16]:
#Fitting everything into the url on salary.com for constant scraping
#Anything not caught by these url changes will be manually replaced in the spreadsheet
'''
df['Company'] = df['Company'].str.replace('.com','-com')
df['Company'] = df['Company'].str.replace(' ','-')
df['Company'] = df['Company'].str.replace('.','')
df['Company'] = df['Company'].str.replace('-Class-A','')
df['Company'] = df['Company'].str.replace('-Class-B','')
df['Company'] = df['Company'].str.replace('-Class-C','')
df['Company'] = df['Company'].str.replace('-Class-P','')
df['Company'] = df['Company'].str.replace('oration','')
df['Company'] = df['Company'].str.replace('INCORPORATED','INC')
df['Company'] = df['Company'].str.replace('&','AND')
df['Company'] = df['Company'].str.replace(r"'",'')
df['Company'] = df['Company'].str.replace('COMPANY','CO')
df['Company'] = df['Company'].str.replace('!','')
df['Company'] = df['Company'].str.replace('INCORPORATED','INC')
df['Company'] = df['Company'].str.lower()
df
'''

C:\Users\ryang\AppData\Local\Temp\ipykernel_9504\1848614892.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Company'] = df['Company'].str.replace('.com','-com')
C:\Users\ryang\AppData\Local\Temp\ipykernel_9504\1848614892.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Company'] = df['Company'].str.replace('.','')

               Company Symbol    Weight       Price    Chg     % Chg
0            APPLE-INC   AAPL  7.153972      160.29  -1.22  (-0.76%)
1       MICROSOFT-CORP   MSFT  5.989823      274.67  -3.34  (-1.20%)
2       AMAZON-COM-INC   AMZN  3.412718      134.33  -1.07  (-0.79%)
3            TESLA-INC   TSLA  2.155928      903.30  11.47   -0.0129
4         ALPHABET-INC  GOOGL  1.990347      115.08   0.22   -0.0019
..                 ...    ...       ...         ...    ...       ...
499           FOX-CORP    FOX  0.013206       30.93  -0.17  (-0.55%)
500           PVH-CORP    PVH  0.012766       61.20  -1.03  (-1.66%)
501  DISH-NETWORK-CORP   DISH  0.012304       17.15  -0.10  (-0.58%)
502          NEWS-CORP    NWS  0.006115       17.20  -0.09  (-0.52%)
503       EMBECTA-CORP   EMBC  0.000005       30.26   0.74   -0.0251

[504 rows x 6 columns]

In [7]:
#Checking if the changes worked
for company in df['Company'].values:
    print(company)

3m-co
abbott-laboratories
abbvie-inc
abiomed-inc
accenture-plc
activision-blizzard-inc
adobe-inc
advance-auto-parts-inc
advanced-micro-devices-inc
aes-corp-the
aflac-inc
agilent-technologies-inc
air-products-and-chemicals-inc
akamai-technologies-inc
alaska-air-group-inc
albemarle-corp
alexandria-real-estate-equities-inc
align-technology-inc
allegion-plc
alliant-energy-corp
allstate-corp
alphabet-inc
altria-group-inc
amazon-com-inc
amcor-plc
ameren-corp
american-airlines-group-inc
american-electric-power-co
american-express-co
american-international-group
american-tower-corp-ma
american-water-works-co-inc
ameriprise-financial-inc
amerisourcebergen-corp
ametek-inc
amgen-inc
amphenol-corp
analog-devices
ansys-inc
aon-plc
apa-corp
apple-inc
applied-materials-inc
aptiv-plc
archer-daniels-midland-co
arista-networks-inc
arthur-j-gallagher-and-co
assurant-inc
atandt-inc
atmos-energy-corp
autodesk-inc
automatic-data-processing
autozone-inc
avalonbay-communities-inc
avery-dennison-corp
baker-hughes-a-ge-co
ball-corp
bank-of-america-corp
bank-of-new-york-mellon-corp
l-brands-inc
baxter-international-inc
becton-dickinson-and-co
berkshire-hathaway
best-buy-co-inc
bio-rad-laboratories-inc
bio-techne-corp
biogen-inc
blackrock-inc
boeing-co
booking-holdings-inc
borgwarner-inc
boston-properties-inc
boston-scientific-corp
bristol-myers-squibb-co
broadcom-inc
broadridge-financial-solutns
brown-and-brown-inc
brown-forman-corp
cadence-design-systems-inc
caesars-entertainment-corp
camden-property-trust
campbell-soup-co
capital-one-financial-corp
cardinal-health-inc
carmax-inc
carnival-corp-plc-usa
carrier-global-corp
catalent-inc
caterpillar-inc
cboe-global-markets-inc
cbre-group-inc
cdw-corp
celanese-corp
centene-corp
centerpoint-energy-inc
ceridian-hcm-holding-inc
cf-industries-holdings-inc
c-h-robinson-worldwide-inc
charles-river-labs-intl-inc
schwab-charles-corp
charter-communications-inc-mo
chevron-corp
chipotle-mexican-grill-inc
chubb-ltd
church-and-dwight-inc
cigna-corp
cincinnati-financial-corp
cintas-corp
cisco-systems-inc
citigroup-inc
citizens-financial-group-inc
citrix-systems-inc
clorox-co-de
cme-group-inc
cms-energy-corp
coca-cola-co
cognizant-technology-solutions-corp
colgate-palmolive-co
comcast-corp
comerica-inc-new
conagra-brands-inc
conocophillips
consolidated-edison-inc
constellation-brands
constellation-energy-generation-llc
cooper-cos-inc-the
copart-inc
corning-inc
corteva-inc
costco-wholesale-corp
cabot-oil-and-gas-corp
crown-castle-international-corp
csx-corp
cummins-inc
cvs-health-corp
danaher-corp
darden-restaurants-inc
davita-inc
deere-and-co
delta-air-lines-inc
dentsply-sirona-inc
devon-energy-corp
dexcom-inc
diamondback-energy-inc
digital-realty-trust-inc
discover-financial-svcs
dish-network-corp
disney-walt-co
dollar-general-corp
dollar-tree-inc
dominion-energy-inc
dominos-pizza-inc
dover-corp
dow-inc
d-r-horton-inc
dte-energy-co
duke-energy-corp
duke-realty-corp
dupont-de-nemours-inc
dxc-technology-co
eastman-chemical-co
eaton-corp-plc
ebay-inc
ecolab-inc
edison-international
edwards-lifesciences-corp
electronic-arts-inc
anthem-inc
lilly-eli-and-co
emerson-electric-co
enphase-energy-inc
entergy-corp
eog-resources-inc
epam-systems-inc
equifax-inc
equinix-inc
equity-residential
essex-property-trust-inc
etsy-inc
everest-re-group-ltd
evergy-inc
eversource-energy
exelon-corp
expedia-group-inc
expeditors-international-of-washington-inc
extra-space-storage-inc
exxon-mobil-corp
f5-networks-inc
factset-research-systems-inc
fastenal-co
federal-realty-investment-trust
fedex-corp
fidelity-national-info-svcs
fifth-third-bancorp
republic-first-bancorp-inc
firstenergy-corp
fiserv-inc
fleetcor-technologies-inc
fmc-corp
ford-motor-co
fortinet-inc
fortive-corp
fortune-brands-home-and-security-inc
fox-corp
fox-corp
franklin-resources-inc
freeport-mcmoran-inc
gardner-denver-holdings-inc
garmin-ltd
gartner-inc
generac-holdings-inc
general-dynamics-corp
general-electric-co
general-mills-inc
general-motors-co
genuine-parts-co
gilead-sciences-inc
global-payments-inc
torchmark-corp
goldman-sachs-group-inc
grainger-w-w-inc
halliburton-co
hartford-financial-services
hasbro-inc
hca-healthcare-inc
hcp-inc
henry-schein-inc
hershey-co
hess-corp
hewlett-packard-enterprise-co
hilton-worldwide-holdings-inc
hologic-inc
home-depot-inc
honeywell-international-inc
hormel-foods-corp
host-hotels-and-resorts-inc
arconic-inc
hp-inc
humana-inc
huntington-bancshares
huntington-ingalls-ind-inc
idex-corp
idexx-labs-inc
illinois-tool-works
illumina-inc
incyte-corp
intel-corp
intercontinental-exchange-inc
intl-flavors-and-fragrances
intl-paper-co
interpublic-group-of-cos
intl-business-machines-corp
intuit-inc
intuitive-surgical-inc
invesco-ltd
iqvia-holdings-inc
iron-mountain-inc
henry-jack-and-associates-inc
jacobs-engineering-group-inc
hunt-jb-transprt-svcs-inc
johnson-and-johnson
johnson-controls-international-plc
jpmorgan-chase-and-co
juniper-networks-inc
kellogg-co
keurig-dr-pepper-inc
keycorp
keysight-technologies-inc
kimberly-clark-corp
kimco-realty-corp
kinder-morgan-inc
kla-tencor-corp
kraft-heinz-co
kroger-co
l3harris-technologies-inc
laboratory-corp-of-america-holdings
lam-research-corp
lamb-weston-holdings-inc
las-vegas-sands-corp
lauder-estee-cos-inc-cl-a
leidos-holdings-inc
lennar-corp
lincoln-national-corp
linde-plc
live-nation-entertainment
lkq-corp
lockheed-martin-corp
loews-corp
lowes-cos-inc
centurylink-inc
lyondellbasell-industries-nv
m-and-t-bank-corp
marathon-oil-corp
marathon-petroleum-corp
marketaxess-holdings-inc
marriott-intl-inc
marsh-and-mclennan-cos
martin-marietta-materials
masco-corp
mastercard-inc
match-group-inc
mccormick-and-co-inc
mcdonalds-corp
mckesson-corp
medtronic-plc
merck-and-co
facebook-inc
metlife-inc
mettler-toledo-intl-inc
mgm-resorts-international
microchip-technology-inc
micron-technology-inc
microsoft-corp
mid-america-apt-cmntys-inc
moderna-inc
mohawk-industries-inc
molina-healthcare-inc
molson-coors-brewing-co
mondelez-international-inc
monolithic-power-systems-inc
monster-beverage-corp
moodys-corp
morgan-stanley
mosaic-co
motorola-solutions-inc
msci-inc
nasdaq-inc
netapp-inc
netflix-inc
newell-brands-inc
newmont-goldcorp-corp-de
news-corp
nextera-energy-inc
nielsen-holdings-plc
nike-inc-cl-b
nisource-inc
nordson-corp
norfolk-southern-corp
northern-trust-corp
northrop-grumman-corp
symantec-corp
norwegian-cruise-line-hldgs
nrg-energy-inc
nucor-corp
nvidia-corp
nvr-inc
nxp-semiconductors-nv
occidental-petroleum-corp
old-dominion-freight
omnicom-group
on-semiconductor-corp
oneok-inc
oracle-corp
oreilly-automotive-inc
organon-and-co
otis-worldwide-corp
paccar-inc
packaging-corp-of-america
paramount-group-inc
parker-hannifin-corp
paychex-inc
paycom-software-inc
paypal-holdings-inc
penn-national-gaming-inc
pentair-plc
pepsico-inc
perkinelmer-inc
pfizer-inc
philip-morris-international
phillips-66
pinnacle-west-capital-corp
pioneer-natural-resources-co
pnc-financial-svcs-group-inc
pool-corp
ppg-industries-inc
ppl-corp
principal-financial-grp-inc
procter-and-gamble-co
progressive-corp-ohio
prologis-inc
prudential-financial-inc
ptc-inc
public-service-entrp-grp-inc
public-storage
pultegroup-inc
pvh-corp-de
qorvo-inc
qualcomm-inc
quanta-services-inc
quest-diagnostics-inc
ralph-lauren-corp
raymond-james-financial-corp
united-technologies-corp-de
realty-income-corp
regency-centers-corp
regeneron-pharmaceuticals
regions-financial-corp
republic-services-inc
resmed-inc
robert-half-intl-inc
rockwell-automation-inc
rollins-inc
roper-technologies-inc
ross-stores-inc
royal-caribbean-cruises-ltd
salesforce-inc
sandp-global-inc
sba-communications-corp
schlumberger-ltd
seagate-technology-plc
sealed-air-corp
sempra-energy
servicenow-inc
sherwin-williams-co
signature-bank
simon-property-group-inc
skyworks-solutions-inc
smith-a-o
smucker-jm-co
snap-on-inc
solaredge-technologies-inc
southern-co
southwest-airlines
stanley-black-and-decker-inc
starbucks-corp
state-street-corp
steris-plc
stryker-corp
svb-financial-group
synchrony-financial
synopsys-inc
sysco-corp
t-mobile-us-inc
price-t-rowe-group
take-two-interactive-sftwr
tapestry-inc
target-corp
te-connectivity-ltd
teledyne-technologies-inc
teleflex-inc
teradyne-inc
tesla-inc
texas-instruments-inc
textron-inc
thermo-fisher-scientific-inc
tjx-cos-inc-the
tractor-supply-co-de
ingersoll-rand-plc
transdigm-group-inc
travelers-cos-inc
trimble-inc
bbandt-corp
twitter-inc
tyler-technologies-inc
tyson-foods-inc-cl-a
u-s-bancorp
udr-inc
ulta-beauty-inc
union-pacific-corp
united-airlines-holdings-inc
united-parcel-service-inc
united-rentals-inc
unitedhealth-group-inc
universal-health-svcs-inc
valero-energy-corp
ventas-inc
verisign-inc
verisk-analytics-inc
verizon-communications-inc
vertex-pharmaceuticals-inc
vf-corp
viatris-inc
vici-properties-inc
visa-inc
vornado-realty-trust
vulcan-materials-co
berkley-w-r-corp
wabtec-corp
walgreens-boots-alliance-inc
walmart-inc
discovery-inc
waste-management-inc
waters-corp
wec-energy-group-inc
wells-fargo-and-company-mn
welltower-inc
west-pharmaceutical-svsc-inc
western-digital-corp
westrock-co
weyerhaeuser-co
whirlpool-corp
williams-cos-inc
willis-towers-watson-plc
wynn-resorts-ltd
xcel-energy-inc
xylem-inc
yum-brands-inc
zebra-technologies-cp-cl-a
zimmer-biomet-holdings-inc
zions-bancorporation-na
zoetis-inc

In [8]:
#Creating columns for the dataframe of -2 so we know if the value was not scraped
df = df.assign(CEO_Pay=-2)
df = df.assign(Median_Employee_Pay=-2)
df = df.assign(CEO_Pay_Ratio=-2)
df

,Company,Unnamed: 1,Unnamed: 2,Industry,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,CEO_Pay,Median_Employee_Pay,CEO_Pay_Ratio
0,3m-co,MMM,3M,Industrials,NaN,NaN,NaN,NaN,-2,-2,-2
1,abbott-laboratories,ABT,Abbott,Health Care,NaN,NaN,NaN,NaN,-2,-2,-2
2,abbvie-inc,ABBV,AbbVie,Health Care,NaN,NaN,NaN,NaN,-2,-2,-2
3,abiomed-inc,ABMD,Abiomed,Health Care,NaN,NaN,NaN,NaN,-2,-2,-2
4,accenture-plc,ACN,Accenture,Information Technology,NaN,NaN,NaN,NaN,-2,-2,-2
...,...,...,...,...,...,...,...,...,...,...,...
496,yum-brands-inc,YUM,Yum! Brands,Consumer Discretionary,NaN,NaN,NaN,NaN,-2,-2,-2
497,zebra-technologies-cp-cl-a,ZBRA,Zebra Technologies,Information Technology,NaN,NaN,NaN,NaN,-2,-2,-2
498,zimmer-biomet-holdings-inc,ZBH,Zimmer Biomet,Health Care,NaN,NaN,NaN,NaN,-2,-2,-2
499,zions-bancorporation-na,ZION,Zions Bancorporation,Financials,NaN,NaN,NaN,NaN,-2,-2,-2
500,zoetis-inc,ZTS,Zoetis,Health Care,NaN,NaN,NaN,NaN,-2,-2,-2

In [9]:
#Changes values in all three columns 
bad_link_list=[]
for index in range(len(df.index)):
    #Loops through all rows of the dataframe
    my_url='https://www1.salary.com/' + df.loc[index,'Company'] + '-Executive-Salaries.html'
    #Each URL follows the pattern above for scraping
    html_string=read_html(my_url)
    ceo_worker_pay_list=html_reader(html_string)
    if len(ceo_worker_pay_list)>6:
        df.at[index, 'CEO_Pay'] = ceo_worker_pay_list[2]
        #changes CEO_Pay column
        df.at[index, 'Median_Employee_Pay'] = ceo_worker_pay_list[4]
        #changes Median_Employee_Pay column
        df.at[index, 'CEO_Pay_Ratio'] = ceo_worker_pay_list[6]
        #changes CEO_Pay_Ratio column
    else:
        #makes a list of all links that did not work through the scrape
        bad_link_list.append(my_url)
    print(index)

0
1
2
3
4

KeyboardInterrupt:

In [19]:
print(bad_link_list)

['https://www1.salary.com/alexandria-real-estate-equities-inc-Executive-Salaries.html', 'https://www1.salary.com/news-corp-Executive-Salaries.html', 'https://www1.salary.com/nxp-semiconductors-nv-Executive-Salaries.html', 'https://www1.salary.com/salesforce-inc-Executive-Salaries.html', 'https://www1.salary.com/signature-bank-Executive-Salaries.html', 'https://www1.salary.com/viatris-inc-Executive-Salaries.html']

In [20]:
len(bad_link_list)

6

In [21]:
for element in bad_link_list:
    print(element)

https://www1.salary.com/alexandria-real-estate-equities-inc-Executive-Salaries.html
https://www1.salary.com/news-corp-Executive-Salaries.html
https://www1.salary.com/nxp-semiconductors-nv-Executive-Salaries.html
https://www1.salary.com/salesforce-inc-Executive-Salaries.html
https://www1.salary.com/signature-bank-Executive-Salaries.html
https://www1.salary.com/viatris-inc-Executive-Salaries.html

In [12]:
df

,Company,Unnamed: 1,Unnamed: 2,Industry,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,CEO_Pay,Median_Employee_Pay,CEO_Pay_Ratio
0,3m-co,MMM,3M,Industrials,NaN,NaN,NaN,NaN,"$18,200,584","$71,821",253:1
1,abbott-laboratories,ABT,Abbott,Health Care,NaN,NaN,NaN,NaN,"$24,879,808","$97,952",254:1
2,abbvie-inc,ABBV,AbbVie,Health Care,NaN,NaN,NaN,NaN,"$354,904",Total Cash,E. Rapp
3,abiomed-inc,ABMD,Abiomed,Health Care,NaN,NaN,NaN,NaN,"$12,665,992","$131,893",96:1
4,accenture-plc,ACN,Accenture,Information Technology,NaN,NaN,NaN,NaN,"$23,085,391","$48,770",473:1
...,...,...,...,...,...,...,...,...,...,...,...
496,yum-brands-inc,YUM,Yum! Brands,Consumer Discretionary,NaN,NaN,NaN,NaN,-2,-2,-2
497,zebra-technologies-cp-cl-a,ZBRA,Zebra Technologies,Information Technology,NaN,NaN,NaN,NaN,-2,-2,-2
498,zimmer-biomet-holdings-inc,ZBH,Zimmer Biomet,Health Care,NaN,NaN,NaN,NaN,-2,-2,-2
499,zions-bancorporation-na,ZION,Zions Bancorporation,Financials,NaN,NaN,NaN,NaN,-2,-2,-2
500,zoetis-inc,ZTS,Zoetis,Health Care,NaN,NaN,NaN,NaN,-2,-2,-2

In [23]:
df.to_csv('Example1.csv')